.header {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}

.list {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.item:not(:last-of-type) {
  margin-bottom: 10px;
}

.good {
  color: var(--good-color);
}

.neutral {
  color: var(--neutral-color);
}

.bad {
  color: var(--bad-color);
}
